.body-container {
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}

.body-header {
    color: #009688;
}

.row {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 20px;
}

.option-button:active {
    background: black;
}

.option-button:active {
    color: whitesmoke;
    background-color: #009688;
}

.footer {
    margin-top: 30px;
    text-align: center;
}